/*
Color:
pink: #d95fc5;
blue: #22a2f2;
yellow: #f2dc6b;
red: #d93636'

Type:
header/titles:
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    font-family: 'Indie Flower', cursive;
Paragraphs:
    <link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
    font-family: 'PT Sans Narrow', sans-serif;

*/
main{
background:#22a2f2;
}

ul{
    margin-top: 0;
}
li{
    list-style: none;
    float: right;
}
a:link,
a:visited {
    display:flex;
    height: 32px;
    text-align: center;
    line-height: 32px;
    text-decoration: none;
    padding-top: 0;
    width: 100px;
    transition: padding-bottom 1s;
}

a:focus,
a:hover,
a:active{
    background: #f2dc6b;
    color: #d93636;
    border-left: 8px solid #fff;
    padding-top: 32px;
    
}
#two{
   
    border-radius:30%;
    background-color:#f2dc6b;
    border-color: #f2dc6b
}
#one{
    border-radius:50%;
    background-color:#d93636;
}
h1{
    text-align: center;
    font-family:'Indie Flower', cursive, bold;
    color: #d93636;
    font-size: 5em;
    
 
}
h2{
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    color: #f2dc6b;

    
}